%ol.collection
  %li.collection-item
    Make sure guests are allowed on your Weasyl profile (you can modify this setting <a href="https://www.weasyl.com/control/editpreferences" target="_blank">here</a>).
    After your account is verified you can safely disable guest browsing.

  %li.collection-item
    Put the following code anywhere in your profile: <code>#{profile.generate_verification_code_for(site)}</code>

  %li.collection-item
    Your account will be automatically validated soon after you save your profile. Once this is done, you can safely remove the code from your profile.
